a {
    text-decoration: none;
    color: black;
  }
div{

  text-align: right;
  padding-top: -10mm;
}
.login{
  font-size: larger;
  text-align: right;
}
.register{
  font-size: larger;
  color: black;
  text-align: right;
}
hr{
  color: black;
}
.post{
  border: 5px solid black;
  text-align: center; 
  margin-bottom: 25px;
}



*{
  background-color: aliceblue;
}