


div{
  border: 1px black;
  text-align: right;
  padding-top: -10mm;
  top: 5;
  background-color: inherit;
  
}

a {
  text-decoration: none;
  color: black;
  background-color: inherit;
}

.login{
top: 3;
font-size: larger;
text-align: right;
background-color: inherit
}
.register{
font-size: larger;
color: black;
text-align: right;
background-color: inherit
}
hr{
color: black;
background-color: inherit;
}
.post{
  border: 5px solid black;
  text-align: center; 
  top: 25;
  top: inherit;
  padding-top: 35px;
  margin-top: 35px;
  background-color: aquamarine;
  border-radius: 10px;
  

}

.w{
  background-color: inherit;
  
}

*{
background-color: aliceblue;
}
img{
position: absolute;
height: 100px;
width: 200px;
background-color: inherit;
left: 20;



}