


div{
  border: 1px black;
  text-align: right;
  padding-top: -10mm;
  top: 5;
  
}

a {
  text-decoration: none;
  color: black;
}

.login{
top: 3;
font-size: larger;
text-align: right;
background-color: inherit
}
.register{
font-size: larger;
color: black;
text-align: right;
background-color: inherit
}
hr{
color: black;
}
.post{
border: 5px solid black;
text-align: center; 
top: 35;
top: inherit;
padding-top: 35px;
margin-top: 35px;

}



*{
background-color: aliceblue;
}
img{
position: absolute;
height: 100px;
width: 200px;
left: 20;



}