





<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

</head>

<header>
    <a href="{{url_for('dashboard')}}", class= "register">Dashboard&nbsp;&nbsp;</a>
    <a href="{{url_for('login')}}",  class="login">Login&nbsp;&nbsp;</a>
    <a href="{{url_for('register')}}", class= "register">Register</a>
       
        
 
 
    
    
 
 
</header>
<div class="topnav">
    <input type="text" placeholder="Search.."> 
</div>

{%for post in posts%}
<div class= "post">
<h2 class="w">{{post.title}}</h2>
<i class="w">written by: <a href="/by/{{post.author.id}}" >{{post.author.username}}</a></i>
{%if post.image%}
<img class='blog-pic' src="static/pictures/{{post.image}}" />
{%endif%}
<p class="w">{%for tag in post.id_labeled%}<a href='tag/{{tag.name}}'>{{tag.name}} </a>{%endfor%}</p>
<br>
<p class="w">{{post.desc}}</p>
</div>
{%endfor%}


</body>

{% extends 'base.html' %}

<b><h1>{% block title %}Blog{% endblock %}</h1></b>

