
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<form action="" method="post">

  {{form.hidden_tag()}}
    <div class="container">
      <h1>Login</h1>
      
      <label for="uname"><b>Username</b></label>
      <br>
      {{form.username}}
      
      <br>
      <label for="psw"><b>Password</b></label>
      <br>
      
      {{form.password}}
      
  
      
      <button>{{form.submit}}</button>

    </div>
  
    <div class="container" style="background-color:#f1f1f1">
    </div>
    <div class="container signin">
      <p>You Dont Have Any Account? <a href="{{url_for('register')}}">Register</a>.</p>
      <p>you ant come in main Page?<a href="{{url_for('index')}}">Main Page</a>.</p>
    </div>
    
  </form>

